<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 ">
      <input type="button" class="btn btn-info" value="Show odd numbers"
      (click)="onlyOdd=!onlyOdd">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <div *ngIf="onlyOdd">
           <li class="list-group-item"
           [ngClass] = "{odd : odd % 2 !== 0}"
           [ngStyle] = "{backgroundColor : odd % 2 !==0 ? 'grey':'transperent'}"
            *ngFor="let odd of oddNumbers">
            {{odd}}
          </li>
        </div> 

       <div *ngIf="!onlyOdd">
      <li class="list-group-item" 
      [ngClass] = "{odd : even % 2 !== 0}"
      [ngStyle] = "{backgroundColor : even % 2 !==0 ? 'grey':'transperent'}"
      *ngFor="let even of evenNumbers">
          {{even}}
        </li>
       </div>

      </ul>
    </div>
  </div>
  <br>

    <p appBasicHighlightDirective>Style me with basic highlight</p>
    <br>

    <p appBetterHighlight [defaultColor]="'yellow'" [highlightedColor] = "'red'">Style me with better highlight</p>

</div>
 