<div class="container">
  <div class="row">
   <div class="col-xs-12">
    <img class="img-responsive" src="" alt="">
   </div>
  </div>
  <div class="row">
    <h3>Recipe Name</h3>
  </div>
  <div class="row">
   <div class="col-xs-12">
    <div class="dropdown">
      <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id='Manage_Recipe'>Manage Recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="Manage_Recipe" >
       <a class="dropdown-item" href="#">1</a>
       <a class="dropdown-item" href="#">2</a>
       <a class="dropdown-item" href="#">3</a>
     </div>
    </div>
   </div>
  </div>
  <div class="row">
   <div class="col-xs-12">
     Description
   </div>
  </div>
  <div class="row">
   <div class="col-xs-12">
     Ingredients
   </div>
  </div>
</div>