<div class="container">
  <div class="row">
   <div class="col-xs-12">
    <img class="img-responsive" [src]="recipe.imagePath" alt="{{recipe.name}}">
   </div>
  </div>
  <div class="row">
    <h3>{{recipe.name}}</h3>
  </div>
  <div class="row">
   <div class="col-xs-12">
    <!-- <div class="dropdown Open">
      <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id='Manage_Recipe'>Manage Recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="Manage_Recipe" >
       <a class="dropdown-item" href="#">1</a>
       <a class="dropdown-item" href="#">2</a>    
       <a class="dropdown-item" href="#">3</a>
     </div>
    </div> -->
    <div class="btn-group appDropdown">
      <button type="button" 
        class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
       </ul>
    </div>
   </div>  
  </div>  
  
  <div class="row">
   <div class="col-xs-12">
     {{recipe.description}}
   </div>
  </div>
  <div class="row">
   <div class="col-xs-12">
     Ingredients
   </div>
  </div>
</div>